full-size()
  width 100%
  height 100%

html, body, #app
  full-size()
  overflow hidden

*
  margin 0
  padding 0
  outline none

*, :after, :before
  box-sizing border-box

/**
 滚动条两端的方块按钮
 */
::-webkit-scrollbar-button:horizontal
  width 0

::-webkit-scrollbar-button:vertical
  height 0

/**
 滚动条
 */
::-webkit-scrollbar-thumb:horizontal
  background-color #ccc
  border-radius 5px

::-webkit-scrollbar-thumb:vertical
  background-color #ccc
  border-radius 5px

::-webkit-scrollbar-thumb:hover
  background-color #aaa

::-webkit-scrollbar-track-piece
  border-radius 5px

::-webkit-scrollbar
  width 5px
  height 5px

body
  font-family -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
  a
    color #1890ff
    text-decoration none
    outline 0
    transition color 300ms
  .fl
    float left
  .fr
    float right
  .fa-icon
    width auto
    height 1em /* 或任意其它字体大小相对值 */
    /* 要在 Safari 中正常工作，需要再引入如下两行代码 */
    max-width 100%
    max-height 100%
    transform rotateZ(0deg)
    transition transform 500ms
    vertical-align middle
    &.rotate-90
      transform rotateZ(90deg)
  .pointer
    cursor pointer


